@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';

$default-color: #1f2226;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-VF', Helvetica, sans-serif;
  @extend .text-default;
}

.text-default {
  color: $default-color;
}

h1 {
  @apply text-3xl font-bold underline;
}

@layer utilities {
  .product-item {
    &__button {
      @apply hidden;
    }
    &:hover {
      .product-item__button {
        @apply block;
      }
    }
  }
}

@layer components {
  .button {
    @apply border-red-500 border-2 border-solid text-sm py-1 leading-7 px-4 rounded-md hover:bg-red-500 hover:text-white transition-colors duration-200;
    &.disabled {
      @apply border-gray-400  text-gray-400 hover:bg-white hover:text-gray-400 cursor-default;
    }
  }
  .star {
    width: 60px;
    height: 12px;
    background-image: url('/images/star.svg');
    .rating {
      background-image: url('/images/star-active.svg');
      height: 12px;
    }
  }
  .breadcrumbs {
    &__list {
      li {
        @apply inline-block mr-3 font-bold capitalize text-sm text-gray-800;
        &::after {
          content: '/';
          @apply inline-block h-3 w-3 text-center align-top ml-2 leading-5 text-gray-500;
        }
        &.breadcrumbs__item--active {
          @apply font-normal text-gray-500;
          &::after {
            @apply hidden;
          }
        }
      }
    }
  }

  .pagination {
    ul {
      @apply flex mt-10 md:mt-20 justify-center;
      li {
        a {
          @apply inline-block  px-2 md:px-3 py-2  text-sm transition-all duration-300;

          &:hover {
            @apply bg-gray-200;
          }
        }
        &.active {
          a {
            @apply bg-red-500 text-white;
          }
        }
      }
    }
  }
  .slick-slider {
    line-height: 0;
    .slick-arrow {
      &::before {
        color: #000;
      }
      z-index: 10;
      width: 36px;
      height: 36px;
      &:before {
        font-size: 36px;
      }
      &.slick-prev {
        @apply left-0;
      }
      &.slick-next {
        @apply right-0;
      }
    }
    &.banner {
      .slick-arrow {
        &::before {
          color: #333;
        }
        &.slick-prev {
          @apply left-2 lg:left-8;
        }
        &.slick-next {
          @apply right-2 lg:right-8;
        }
      }
    }
  }
  .left-nav,
  form {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

.main {
  @apply flex flex-col justify-between min-h-screen;
}

.content {
  @apply text-sm text-justify;
  p {
    @apply mt-2;
  }
  ul {
    @apply mt-2;
    li {
      @apply list-inside list-disc;
    }
  }
  h4 {
    @apply font-bold text-sm md:text-lg mt-2 leading-4 md:leading-6;
  }
}

.heart-button {
  &:hover {
    .heart {
      @apply block;
    }
  }
  button {
    &:disabled {
      .heart {
        @apply text-gray-500;
      }
    }
  }
  .heart {
    @apply hidden;
  }
}

.map-container {
  height: 400px;
}

.react-autosuggest {
  &__container {
    @apply w-full relative;
  }
  &__input {
    @apply w-full border border-gray-500 px-2 py-2 text-sm;
    &--focused {
      outline: none;
    }
  }
  &__suggestions {
    @apply cursor-pointer;
    &-container {
      @apply hidden w-full;
      &--open {
        @apply block absolute top-full left-0 border border-t-0 border-gray-500 bg-white;
      }
      &-list {
        @apply m-0 p-0 list-none;
      }
    }
    &--highlighted {
      @apply bg-gray-500;
      &-match {
        @apply font-bold;
      }
    }
  }
  &__section {
    &-title {
      @apply font-bold p-2;
    }
  }
  &__suggestion {
    &--highlighted {
      @apply bg-gray-300;
    }
    &-match {
      @apply font-bold;
    }
  }
}
.brand-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.navigation {
  li {
    a {
      @apply relative pb-1;
      &:hover {
        &:before,
        &:after {
          @apply w-1/2;
        }
      }
      &:before,
      &:after {
        content: '';
        @apply absolute top-full w-0 h-0.5 bg-red-500 z-10 transition-all duration-300;
      }
      &:before {
        @apply right-1/2;
      }
      &:after {
        @apply left-1/2;
      }
      &.active {
        &:before,
        &:after {
          @apply w-1/2;
        }
      }
    }
  }
}
